.c-baseTable-tableHeaderCell {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #96a1db;
  opacity: 50%;
  font-family: Lato;
}
.c-baseTable-tableHeaderCell.MuiTableCell-root {
  padding: 10px 10px 10px 20px;
  border-bottom: solid 1px #282e4e;
}
.c-baseTable-tableContainer.MuiTableContainer-root {
  overflow: auto hidden;
  border: none;
  padding: 0px;
  margin-bottom: 20px;
}
.c-baseTable-tableContainer .MuiTableCell-root {
  white-space: nowrap;
  border-bottom: none;
}
.c-baseTable-tableContent :hover {
  cursor: pointer;
}
.c-baseTable-tableContent.MuiTableHead-root {
  width: 900px;
  min-width: 100%;
  table-layout: auto;
}
.c-blogTable-tableRow {
  border-bottom: 1px solid #96a2db75;
}
.c-blogTable-tableRow:hover {
  background-color: #282e4e;
}
.c-blogTable-tableRow:hover .c-blogTable-tableDateCell {
  padding-left: 50px !important;
  padding-right: 10px !important;
  transition-duration: 0.5s;
}
.c-blogTable-tableRow:hover .c-blogTable-tableTitleCell {
  padding-left: 50px !important;
  padding-right: 10px !important;
  transition-duration: 0.5s;
}
.c-blogTable-tableRow:hover .c-blogTable-tableImageCell {
  padding-right: 50px !important;
  padding-left: 10px !important;
  transition-duration: 0.5s;
}
