.c-commonBtn-root {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background: linear-gradient(90deg, #ff7c4c 0%, #ffb03a 100%);
  width: 100%;
  height: 100%;
}
.c-commonBtn-root:hover {
  border: double 1px transparent;
  background-image: linear-gradient(#21263f, #21263f),
    radial-gradient(circle at top left, #ff7c4c, #ffb03a);
  background-clip: content-box, border-box;
  background-origin: border-box;
}
.c-commonBtn-root:hover .c-base-rightArrow {
  background: linear-gradient(to right, #ff7c4c 0%, #ffb03a 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.c-commonBtn-contentContainer {
  color: white;
  font-family: Lato;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-base-rightArrow {
  margin-left: 17px;
  width: 25px;
}
.c-commonBtn-root:hover .c-commonBtn-letter {
  background: linear-gradient(to right, #ff7c4c 0%, #ffb03a 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
