@media (min-width: 820px) {
  .c-header-mobile-container {
    display: none;
  }
}
.c-header-mobile-logo {
  display: flex;
  align-items: center;
  margin-right: 100px;
  cursor: pointer;
}
.c-header-logo-img {
  width: 36px;
  height: 36px;
  margin-top: 2px;
}
.c-header-mobile-icon {
  color: #96a1db;
}
.c-header-mobile-menu-collapse {
  position: absolute;
  z-index: 99;
}
.c-authorsMenuBar-mainLabel {
  font-family: Lato;
  color: white;
  font-size: 17px;
  font-weight: 400;
  line-height: 20.4px;
}
.c-header-mobile-menu-content {
  width: 184px !important;
  margin-top: 5px !important;
  background-color: #1a1f37;
  border-radius: 15px;
  box-shadow: #37374f 5%;
  opacity: 0.98;
}

.c-header-mobile-menu-content .MuiListItem-root {
  padding-left: 38px;
  color: #96a1db;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 8px;
}

.c-header-mobile-menu-content .MuiListItem-root.active-list {
  color: white;
}
.c-header-mobiles-menu-content .MuiListItem-root.active-list {
  color: white;
}
