.c-latestArticle-container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  .c-latestArticle-container {
    display: block;
  }
  .c-latestArticle-leftPart {
    padding: 10px 30px !important;
    margin-bottom: 50px;
    width: 80% !important;
  }
  .c-latestArticle-rightPart {
    width: 100% !important;
  }
}
.c-latestArticle-leftPart {
  max-height: 406px;
  width: 40%;
  padding: 10px 0px;
}
.c-latestArticle-rightPart {
  height: 406px;
  width: 58%;
  border-radius: 13px;
}
.c-latestArticle-dateContainer {
  display: flex;
  text-align: start;
  align-items: center;
}
.c-latestArticle-dateTitle {
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #96a1db;
}
.c-latestArticle-comma {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #96a1db;
  margin-left: 13px;
  margin-right: 13px;
}
.c-latestArticle-dateLabel {
  color: white;
  font-family: Lato;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}
.c-latestArticle-image {
  width: 100%;
  height: 100%;
  border-radius: 13px;
}
.c-latestArticle-mainTitle {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
}
.c-latestArticle-mainContent {
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #96a1db;
}
